body {
 background-color: #000000;
 color: #ffffff;
 font-family: 'Ubuntu', sans-serif;
 text-align:center;
 }
 
header {
  background-color: white;
  text-align: center;
  color: black;
  font-family: Arial;
  padding: 60px;
}

.logo {
 color: black;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 5.1vw;
 border-style: solid;
 border-width:5px;
 width: 23%;
 margin: auto;
}

.content {
  max-width: 75%;
  margin: auto;
  background: #000000;
  padding: 10px;
}

/* Phones */
@media only screen and (max-width: 600px)
header {
  background-color: white;
  text-align: center;
  color: black;
  font-family: Arial;
  padding: 60px;
}

.logo {
 color: black;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 5.1vw;
 border-style: solid;
 border-width:3.5px;
 width: 30%;
 margin: auto;
}

 .parrot {
     color: white;
     font-family: Century Gothic;
     font-size: 140%;
     text align: right;
 }
  .dog {
     color: white;
     font-family: Century Gothic;
     font-size: 140%;
     text align: right;
 }
 
 a {
   background-color: white;
   border-radius:6px;
   color: #414141;
   font-family: 'Ubuntu', sans-serif;
   color: grey;
   text-align: left;
   text-decoration: none;
 }
 
 a:hover {
   background-color: orange;
   border-radius:6px;
   font-family: 'Ubuntu', sans-serif;
   color: #000000;
   text-align: left;
   text-decoration: none;
 }

.content {
  max-width: 100%;
  margin: auto;
  background: #000000
}
